<%provide(:title, "#{@user.name}")%>
<div class="jumbotron diamond_white col-md-12">
<div class="col-md-4">
	<h3><%=@user.name%><h3>
	<p><%=@user.email%></p>
	<p><%=@user.count_words%></p>
	<%=link_to 'repeat words', 'repeat_path'%>
</div>

<br/>
<div class="col-md-7 col-md-offset-1">

<h4>Progress (<%=@count_words%><%=have_count_words(@user)%>)</h4>
<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: <%=@bar[0]%>%">
  </div>
  <div class="progress-bar progress-bar-warning" style="width: <%=@bar[1]%>%">
  </div>
</div>
  </div>
</div>